section.page.pageTwo
  h2 Facebook login page

  p(role='status')

  a.btn.btn-default(role='login') Login
  a.btn.btn-default(role='logout') Logout

  img(role='facebook_user_picture')
  pre(role='details')
