body
  nav.navbar.navbar-default
    div.container-fluid
      div.navbar-header
        a.navbar-brand(href='/') X_Title_X
      ul.nav.navbar-nav
        li
            a(href="/") home
          li
            a(href="/collections") collection demo
          li
            a(href="/info") more info
          li
            a(href="/bootstrap-examples") Bootstrap Examples
  .container
    main(role="page-container")
